*.o
*.a
*.obj
*.exe
*.dll
*.so
*.lib
*.la
*.lo
*~
*.orig
tags
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h.in
configure
.deps/
.libs/
Makefile
config.h
config.log
config.status
libtool
stamp-h1
test/
